{% extends 'base.html' %}
{% block title %}密码重置{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>忘记密码?</h1>
        <p>请输入邮箱地址进行重置</p>
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right">邮箱</label>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>
            <input type="submit" value="密码重置" class="btn btn-primary btn-lg"></input>
        </form>
    </div>
{% endblock %}